#translationInput {
    width: 50%;
    padding: 20px;
    border: 2px solid lightgray;
    border-radius: 20px; 
    flex: 1;
    font-size: 20px;
}

#translationButton {
    border: none; 
    border-radius: 20px; 
    background-color: #9D738A; 
    cursor: pointer;
}

#translationFieldset {
    padding: 50px; 
    margin: 40px; 
    background-color: #9D738A; 
    border-radius: 20px;
    border: none;
    display:flex;
    flex-direction:row;
}

#translationForm {
    display: flex; 
    flex-direction: column;
}

#arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    border: 2px solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}